{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="well">
        <form class="form-horizontal" name="fos_user_registration_form" method="post" action="/register/">
            <fieldset>
                <legend>Inscription</legend>
                    <div class="form-group">
                        <label for="inputUsername" class="col-md-2 control-label">Username</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="inputUsername" name="form[username]" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-md-2 control-label">Password</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" id="inputPassword" name="form[plainPassword.first]" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputRePassword" class="col-md-2 control-label">Confirm password</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="inputRePassword" name="form[plainPassword.second]" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputFirstname" class="col-md-2 control-label">First name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="inputFirstname" name="form[firstName]" placeholder="First name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLastname" class="col-md-2 control-label">Last Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="inputLastname" name="form[lastName]" placeholder="Last name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-md-2 control-label">Email</label>
                        <div class="col-md-10">
                            <input type="email" class="form-control" id="inputEmail" name="form[email]" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                        <button type="submit" class="btn btn-primary">S'inscrire</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
