{% extends 'base.html.twig' %}

{% block body %}
<div class="well">
    <form class="form-horizontal">
        <fieldset>
            <legend>Créer un évènement</legend>
                <div class="form-group">
                    <label for="inputName" class="col-md-2 control-label">Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputName" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDate" class="col-md-2 control-label">Date</label>
                    <div class="col-md-10">
                        <div class="form-control-wrapper">
                            <input type="text" id="inputDate" class="form-control" placeholder="Date de l'évènement">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                    <button type="button" class="btn btn-default">Annuler</button>
                    <button type="submit" class="btn btn-primary">Créer</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
