{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
      <div class="jumbotron">
          <h2>Bienvenue sur Anonymous-gift</h2>
          <p>Site de gestion d'évènements</p>
          <a href="login" class="btn btn-raised btn-primary btn-lg">Se connecter</a>
          <a href="register" class="btn btn-raised btn-primary btn-lg">S'inscrire</a>
      </div>
  </div>
{% endblock %}
