{% extends 'base.html.twig' %}

{% block body %}
  <div>
    <h1>Anonymous Gift</h1>
    <p class="descriptif">
      Welcome ! Un petit descriptif.
    </p>
    <div>
      <a href="">Login</a>
      <a href="">Sign Up </a>
    </div>
  </div>
{% endblock %}
