<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bonjour</title>
        <!-- Material Design fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.7/css/bootstrap-material-design.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.7/css/ripples.min.css">
    </head>
    <body>
        <div class="navbar navbar-warning">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Anonymous-gift</a>
                </div>
                <div class="navbar-collapse collapse navbar-warning-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="javascript:void(0)">Mes évènements</a></li>
                        <li><a href="javascript:void(0)">Link</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="well">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Inscription</legend>
                            <div class="form-group">
                                <label for="inputUsername" class="col-md-2 control-label">Username</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-md-2 control-label">Password</label>
                                <div class="col-md-10">
                                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputRePassword" class="col-md-2 control-label">Confirm password</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="inputRePassword" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputFirstname" class="col-md-2 control-label">First name</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="inputFirstname" placeholder="First name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputLastname" class="col-md-2 control-label">Username</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="inputLastname" placeholder="Last name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-md-2 control-label">Email</label>
                                <div class="col-md-10">
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                <button type="button" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>
    </body>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.7/js/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.7/js/ripples.min.js"></script>
    <script>$.material.init()</script>
</html>
